.App{
    height: 100vh; 
    width: 56.25vh; 
    background: white;
    max-width: 100vw;
    max-height: 100vh; 
    margin: auto;
    position: absolute;
    top:0; bottom:0;
    left:0; right:0; 
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 300ms;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-scene {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-in-out-scene {
    animation: fadeInAnimation 1s ease-in forwards, fadeOutAnimation 1s 5s ease-out forwards;
    animation-iteration-count: 1;
}

.overlay {
    position: absolute;
    z-index: 1;
}

.curtain-closing {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.curtain-closing.fromstart {
    animation: curtainFromstart25 linear 15s 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* animation: curtainFromstart cubic-bezier(0.22, 0.61, 0.36, 1) 5s; */
}

@keyframes curtainFromstart25 {
    0% { height: 0; }
    100% { height: 50%;}
}